@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

* {
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-direction: column;
    background-color: #00032f;
    align-items: center;
    overflow: hidden;
    height: 100%;
    width: 100%;
}
.btnMobile {
    display: none;
}
#small-img {
    display: none;
}
.marcar {
    position: absolute;
}
#image2 {
    margin-top: 80px;
}
#bgTitle {
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
    background-color: #e5058c;
    width: 100%;
}
h1 {
    font-size: 3em;
    margin: 0px;
    text-align: center;
    font-weight: 400;
    padding: 10px;
    font-family: "Anton", sans-serif;
    letter-spacing: 0.1em;
    color: #fff;
}
.res {
    position: absolute;
    font-size: 37px;
    margin-top: 260px;
    margin-left: -235px;
    margin-bottom: 0;
    font-weight: 900;
    color: rgba(255, 255, 255, 0.534);
    letter-spacing: 2.5px;
    font-family: "Bebas Neue", cursive;
}
.fieldSetGrup {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: -15px;
}
#oito_Numeros2 {
    height: 3.3em;
    width: 11.5em;
    margin-right: 4em;
    border-radius: 5px;
    white-space: 30em;
    border-color: rgb(122, 120, 120);
    background-color: #ffffff;
    font-weight: 700;
    letter-spacing: 0.5em;
    font-size: 1.1em;
    text-align: center;
}
#oito_Numeros2::placeholder {
    text-align: center;
    color: rgb(202, 190, 190);
    letter-spacing: 0.1em;
    font-size: 15px;
}
#oito_Numeros2:focus {
    border-color: rgb(116, 28, 28);
}
#oito_Numeros2:focus::placeholder {
    color: #ffffff;
}
.fieldEst {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}
.cpf {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
}
.getInput {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.cEst {
    height: 3.2em;
    width: 17em;
    font-size: 1em;
    text-align: center;
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.719);
    background-color: #ffffff;
    font-weight: 800;
    cursor: pointer;
    border-color: rgb(122, 120, 120);
    margin-top: 40px;
}
.estado {
    height: 3.4em;
    width: 12.6em;
    border-radius: 10px;
    border-color: #1525ff;
    font-weight: 600;
    background-color: #000550;
    outline: none;
    cursor: pointer;
    transition: 0.1s;
    color: #fff;
    font-size: 1em;
}
.estado:hover {
    color: #fff;
    background-color: #e5058c;
}
#maker {
    position: relative;
}
#BtnPesquisa {
    display: none;
    transition: 0.1s;
}
fieldset {
    border-radius: 10px;
    color: #ced4da;
}
hr {
    margin: 74px -150px 15px -150px;
}
h4 {
    font-size: 2em;
    margin-top: 15px;
    font-weight: 800;
    color: #fff;
}
label {
    color: #fff;
    font-weight: 600;
}
#addSaida {
    display: flex;
    position: relative;
    margin-bottom: 10vw;
    justify-content: center;
    visibility: visible;
}
#image2 {
    position: relative;
    height: 21.5em;
    width: 31.2em;
}
.popup-wrapper {
    display: none;
    background: rgba(255, 255, 255, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    animation: fadeOut 0.2s;
}
.popup {
    font-family: arial;
    text-align: center;
    width: 100%;
    max-width: 25.7em;
    margin: 25vh auto;
    padding-bottom: 50px;
    background: #fff;
    position: relative;
    border-radius: 10px;
}
@keyframes fadeOut {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.popup-close {
    display: flex;
    justify-content: flex-end;
    top: 50px;
    cursor: pointer;
    font-weight: 800;
    padding: 10px;
    color: #000;
}
.popup-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 200px;
    margin: 5px auto;
    padding: 5px;
    position: relative;
}
#subtitulo {
    color: crimson;
    font-size: 2.5em;
    margin-bottom: 1em;
}
#paragrafo {
    font-weight: 600;
    font-size: 1.4em;
}
@media screen and (max-width: 1600px) {
    h1 {
        font-size: 2.6em;
    }
}
@media screen and (max-width: 1426px) {
    body {
        overflow-y: auto;
        overflow-x: hidden;
    }
    ::-webkit-scrollbar {
        display: none;
    }
    h1 {
        font-size: 2.4em;
    }
}
@media screen and (max-width: 1214px) {
    h1 {
        font-size: 2.2em;
    }
    .classh4 {
        font-size: 1.5em;
    }
}
@media screen and (max-width: 1042px) {
    h1 {
        font-size: 2.3em;
    }
}
@media screen and (max-width: 906px) {
    hr {
        margin: 74px -50px 15px -50px;
    }
}
@media screen and (max-width: 870px) {
    /* .popup-wrapper {
        background: rgba(0, 0, 0, 0.8);
    } */
    h1 {
        font-size: 2em;
    }
    .classh4 {
        font-size: 1.2em;
    }
}
@media screen and (max-width: 738px) {
    h1 {
        font-size: 1.7em;
    }
}
@media screen and (max-width: 650px) {
    .popup-wrapper {
        background: rgba(0, 0, 0, 0.8);
    }
    h1 {
        font-size: 5.9vw;
    }
    hr {
        margin: 74px -30px 15px -30px;
    }
    #image2 {
        position: relative;
        height: 21.5em;
        /* width: 28em; */
        width: 33.2em;
    }
    .res {
        visibility: absolute;
        font-size: 40px;
        margin-top: 260px;
        margin-left: -251px;
    }
    .popup {
        width: 70vw;
    }
    .classh4 {
        font-size: 4.8vw;
    }
}
@media screen and (max-width: 550px) {
    body {
        overflow-y: hidden;
        overflow-x: hidden;
    }
    body::-webkit-scrollbar {
        display: hidden;
    }
    .background {
        display: flex;
        justify-content: center;
        text-align: center;
        margin-top: -77px;
    }
    .sorte{
        z-index: 99;
    }
    #BtnStartMobile {
        display: initial;
        /* visibility: "visible"; */
    }
    h1 {
        font-size: 6vw;
        letter-spacing:0.2px;
    }
    .cpf {
        margin-top: 1vh;
    }
    .fieldEst {
        visibility: hidden;
        margin-bottom: 1vh;
    }
    hr {
        display: none;
    }
    .res {
        font-size: 7vw;
        margin-top: 6.5em;
        margin-left: 22px;
    }
    #image2 {
        display: none;
    }
    #small-img {
        display: initial;
        height: 60vw;
        width: 95vw;
        margin-top: 5em;
    }
    #oito_Numeros2::placeholder {
        font-size: 15px;
    }
    .getInput {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 0px;
    }
    #maker,
    #BtnPesquisa,
    .cpf {
        visibility: hidden;
    }
    .btnMobile {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    #oito_Numeros2 {
        margin-right: 0px;
        margin-top: 2px;
        margin-bottom: 0.3em;
        width: 92%;
        height: 2.2em;
        font-size: 1.5em;
        border-radius: 5px;
    }
    .estado {
        width: 95%;
        height: 5em;
        font-size: 1em;
        margin-right: -6px;
        padding: 0px;
        margin: 0px;
        margin-top: 0%;
    }
    .cEst {
        width: 92%;
        height: 3em;
        font-size: 1em;
        margin-top: 1vh;
    }
    .classh4 {
        font-size: 6vw;
        margin-bottom: 20px;
    }
    #bgTitle {
        display: flex;
        justify-content: center;
        position: fixed;
    }
    #addSaida {
        position: relative;
        display: flex;
        justify-content: flex-start;
        margin-top: 20vh;
        margin-left: -0.1%;
        visibility: visible;
    }
    .fieldSetGrup {
        position: absolute;
        margin-top: 25vh;
    }
}
@media screen and (max-width: 519px) {
    .res {
        font-size: 6.7vw;
        margin-top: 7em;
    }
}
@media screen and (max-width: 480px) {
    .res {
        margin-top: 7.2em;
    }
}
@media screen and (max-width: 450px) {
    .res {
        font-size: 6.5vw;
        margin-top: 7.6em;
        margin-left: 20px;
    }
}
@media screen and (max-width: 430px) {
    .res {
        font-size: 6.2vw;
        margin-top: 8.2em;
        margin-left: 19px;
    }
}
@media screen and (max-width: 395px) {
    .res {
        font-size: 6.2vw;
        margin-top: 8.4em;
        margin-left: 17px;
    }
}
@media screen and (max-width: 375px) {
    .res {
        margin-top: 8.6em;
    }
    .estado{
        margin-top: -5vw;
    }
}
@media screen and (max-width: 355px) {
    .res {
        margin-top: 8.8em;
        margin-left: 16px;
    }
}
@media screen and (max-width: 335px) {
    .res {
        margin-top: 9em;
        margin-left: 15px;
    }
}
@media screen and (max-width: 320px) {
    .res {
        margin-top: 9.2em;
        margin-left: 15px;
    }
}
@media screen and (max-width: 305px) {
    .res {
        margin-top: 9.4em;
        margin-left: 13px;
    }
}
@media screen and (max-width: 290px) {
    .res {
        font-size: 6vw;
        margin-top: 10em;
        margin-left: 13px;
    }
    .estado{
        margin-top: -8vw;
    }
}
@media screen and (min-width: 1024px) and (max-width: 1030px) and (orientation: landscape) {
}
@media screen and (min-width: 737px) and (max-width: 1023px) and (orientation: landscape) {
}
@media screen and (width: 812px) and (height: 375px) and (orientation: landscape) {
}
@media screen and (width: 823px) and (orientation: landscape) {
}
@media screen and (min-width: 568px) and (max-width: 736px) and (orientation: landscape) {
}
@media screen and (width: 720px) and (orientation: landscape) {
}
@media screen and (width: 653px) and (height: 280px) and (orientation: landscape) {
} 
